---
interface ComponentProps {
  title: string;
  description: string;
  list: string[];
  listTitle: string;
}

const { title, description, list, listTitle } = Astro.props as ComponentProps;
---

<article
  class="flex flex-col gap-8 py-14 px-6 from-white to-gray-50 mx-auto max-w-[800px] border-b border-gray-200"
>
  <h2 class="text-3xl lg:text-5xl font-semibold text-gray-800 tracking-tight">
    {title}
  </h2>

  <p class="text-base lg:text-lg text-gray-700 leading-relaxed">
    {description}
  </p>

  <div>
    <label
      for="vantaggi"
      class="block text-lg lg:text-2xl font-semibold text-gray-800 mb-4"
    >
      {listTitle}
    </label>
    <ul
      class="list-disc list-inside space-y-2 text-gray-700 text-base lg:text-lg"
    >
      {list.map((plus) => <li class="">{plus}</li>)}
    </ul>
  </div>
</article>
