---
import ServiceSection from "../../components/sections/services/ServiceSection.astro";
import Layout from "../../layouts/Layout.astro";
import ColoredBanner from "../../components/ui/ColoredBanner.astro";
import ServiceBannerContent from "../../components/ui/ServiceBannerContent.astro";
import laminazioneTreatments from "../../data/Services/laminazioneTreatments";
---

<Layout>
  <ColoredBanner bgColor="bg-[#C4E9D7]">
    <ServiceBannerContent
      heading="Laminazione"
      description="Laminazione su misura per valorizzare le tue ciglia, donando curvatura, volume e uno sguardo intenso"
    />
  </ColoredBanner>
  <section class="max-w-[1200px] mx-auto py-10">
    {laminazioneTreatments.map((t) => <ServiceSection data={t} />)}
  </section>
</Layout>
