---
import MacchinarioSection from "../../components/sections/services/MacchinarioSections.astro";
import Layout from "../../layouts/Layout.astro";
import ColoredBanner from "../../components/ui/ColoredBanner.astro";
import ServiceBannerContent from "../../components/ui/ServiceBannerContent.astro";
import macchinari from "../../data/Services/macchinari";
---

<Layout>
  <ColoredBanner bgColor="bg-[#A4F4CF]">
    <ServiceBannerContent
      heading="Macchinari"
      description="Trattamenti tecnologici avanzati per rimodellare, tonificare e rigenerare la pelle, unendo efficacia e benessere in ogni seduta."
    />
  </ColoredBanner>
  <section class="max-w-[1000px] mx-auto py-14 lg:py-20">
    {
      macchinari.map((macchinario) => (
        <MacchinarioSection
          title={macchinario.title}
          description={macchinario.description}
          list={macchinario.list}
          listTitle={macchinario.listTitle}
        />
      ))
    }
  </section>
</Layout>
