---
import Layout from "../../layouts/Layout.astro";
import ServiceSection from "../../components/sections/services/ServiceSection.astro";
import ColoredBanner from "../../components/ui/ColoredBanner.astro";
import ServiceBannerContent from "../../components/ui/ServiceBannerContent.astro";
import pmuTreatments from "../../data/Services/PmuTreatments";
---

<Layout>
  <main class="flex flex-col gap-0 lg:gap-20">
    <ColoredBanner bgColor="bg-[#F5E8D0]">
      <ServiceBannerContent
        heading="PMU"
        description=" Il trucco permanente che valorizza i tuoi lineamenti con armonia, precisione e naturalezza."
      />
    </ColoredBanner>

    <section class="max-w-[1200px] mx-auto">
      {
        pmuTreatments.map((t) => {
          return <ServiceSection data={t} />;
        })
      }
    </section>
  </main>
</Layout>
