---
import Layout from "../../layouts/Layout.astro";
import ServiceSection from "../../components/sections/services/ServiceSection.astro";
import ColoredBanner from "../../components/ui/ColoredBanner.astro";
import ServiceBannerContent from "../../components/ui/ServiceBannerContent.astro";
import bodyTreatments from "../../data/Services/bodyTreatments";
---

<Layout>
  <ColoredBanner bgColor="bg-[#EAC1B5]">
    <ServiceBannerContent
      heading="Trattamenti Corpo"
      description="Trattamenti corpo studiati per rigenerare la pelle e valorizzare la tua naturale armonia."
    />
  </ColoredBanner>
  <section class="max-w-[1200px] mx-auto">
    {
      bodyTreatments.map((t) => {
        return <ServiceSection data={t} />;
      })
    }
  </section>
</Layout>
