---
import Layout from "../../layouts/Layout.astro";
import ServiceSection from "../../components/sections/services/ServiceSection.astro";
import ColoredBanner from "../../components/ui/ColoredBanner.astro";
import ServiceBannerContent from "../../components/ui/ServiceBannerContent.astro";
import faceTreatments from "../../data/Services/faceTreatments";
---

<Layout>
  <main class="flex flex-col gap-0 lg:gap-20">
    <ColoredBanner bgColor="bg-[#E4BFA1]">
      <ServiceBannerContent
        heading="Trattamenti Viso"
        description="Percorsi viso su misura per valorizzare la naturale bellezza della tua pelle."
      />
    </ColoredBanner>
    <section class="max-w-[1200px] mx-auto">
      {
        faceTreatments.map((t) => {
          return <ServiceSection data={t} />;
        })
      }
    </section>
  </main>
</Layout>
