---
import Layout from "../layouts/Layout.astro";
import me from "../assets/img/hero.jpg";
import centro from "../assets/img/centro1.webp";
import TwoColumn from "../components/ui/TwoColumn.astro";
import DescriptionBlock from "../components/ui/DescriptionBlock.astro";
import EmblaCarousel from "../components/media/EmblaCarousel.astro";
import centro1 from "../assets/img/centro2.webp";
import MainHeading from "../components/typography/MainHeading.astro";
import ColoredBanner from "../components/ui/ColoredBanner.astro";

const text =
  "La mia passione per l'estetica è nata dalla convinzione che la vera bellezza risieda nel benessere e nella cura di sé. In deb Studio Estetico, ho voluto creare un luogo che non fosse solo un centro, ma un vero e proprio spazio di fiducia e risultati. In questi anni, ho dedicato la mia attività a un approccio professionale e meticoloso ad ogni trattamento, come confermano le mie clienti. Non mi limito a eseguire procedure: mi impegno a comprendere le tue esigenze uniche e a disegnare un percorso personalizzato che ti porti al tuo obiettivo, con tecnologie all'avanguardia come Radiofrequenza e Pressoterapia.Ti aspetto per una consulenza, per iniziare insieme il tuo percorso di cambiamento e benessere. La tua soddisfazione è la mia priorità.";
---

<Layout>
  <main class="flex flex-col gap-20">
    <ColoredBanner bgColor="bg-cream">
      <MainHeading tag="h1" border={true}>
        Quando l’estetica è cura
      </MainHeading>
    </ColoredBanner>

    <TwoColumn>
      <img
        src={me.src}
        alt=""
        class="w-[300px] sm:w-[400px] md:w-[500px] md:shadow-xl lg:shadow-2xl"
      />
      <DescriptionBlock
        title={"Chi è Debora"}
        textBlock={text}
        buttonMessage="Contattami"
      />
    </TwoColumn>

    <!-- Perchè scegliere deb centro estetico -->
    <section class="flex bg-cream/40">
      <div
        class="max-w-[1200px] flex flex-col gap-12 lg:flex-row mx-auto items-center py-30"
      >
        <div
          class="p-2
      flex
      flex-col
      gap-8
      items-center max-w-[800px]"
        >
          <MainHeading tag="h2">Etica, Cura, Risultati</MainHeading>

          <h3
            class="text-lg lg:text-2xl text-gray-700 leading-relaxed text-center font-bold"
          >
            La nostra missione è offrirti un'estetica che sia etica ed efficace.
            Non crediamo nelle soluzioni standard.
          </h3>
          <ul class="space-y-5">
            <li
              class="text-base lg:text-lg text-gray-700 leading-relaxed text-center"
            >
              <strong>Cura Personalizzata: </strong>Ogni percorso inizia con una
              consulenza approfondita per comprendere le tue esigenze uniche e
              disegnare un piano mirato solo su di te.
            </li>
            <li
              class="text-base lg:text-lg text-gray-700 leading-relaxed text-center"
            >
              <strong>Tecnologia e Professionalità:</strong> Utilizziamo macchinari
              avanzati e non invasivi (come Radiofrequenza e Pressoterapia) con la
              meticolosità e la competenza che ci distinguono.
            </li>
            <li
              class="text-base lg:text-lg text-gray-700 leading-relaxed text-center"
            >
              <strong>Risultati Reali:</strong> Il nostro obiettivo è la tua soddisfazione.
              Lavoriamo per un benessere e un cambiamento visibile e duraturo, in
              un ambiente dove ti senti accolta e a tuo agio.
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="flex justify-center mb-20">
      <TwoColumn>
        <EmblaCarousel images={[centro, centro1]} id="beuty_center_spaces" />
        <DescriptionBlock
          title="Un Ambiente Accogliente"
          textBlock={"Ho curato ogni dettaglio di deb Studio Estetico per garantirti un'esperienza che sia professionale quanto rilassante. L'oasi di tranquillità che ho progettato è esclusivamente per il tuo benessere. Sin dall'ingresso, sarai accolta in un ambiente sereno e riservato, dove potrai staccare la spina e dedicarti completamente a te stessa. È in questo spazio di fiducia e comfort che lavoro con la massima meticolosità per farti ottenere i risultati che desideri."}
          buttonMessage="Vieni A Trovarci"
        />
      </TwoColumn>
    </section>
  </main>
</Layout>
