---
import Layout from "../layouts/Layout.astro";
import me from "../assets/img/hero.jpg";
import centro from "../assets/img/centro1.webp";
import TwoColumn from "../components/ui/TwoColumn.astro";
import DescriptionBlock from "../components/ui/DescriptionBlock.astro";
import EmblaCarousel from "../components/media/EmblaCarousel.astro";
import centro1 from "../assets/img/centro2.webp";
import MainHeading from "../components/typography/MainHeading.astro";
import ColoredBanner from "../components/ui/ColoredBanner.astro";

const chiSono_description = "Da sempre considero la formazione un pilastro fondamentale della mia professione. La passione per il benessere e la bellezza mi ha portata a intraprendere un percorso di crescita continua attraverso numerosi corsi di specializzazione, molti dei quali svolti all’estero. Queste esperienze internazionali mi hanno permesso di approfondire tecniche innovative, conoscere nuovi approcci professionali e confrontarmi con realtà diverse, arricchendo il mio bagaglio di competenze e la mia visione del settore estetico."
---

<Layout>
  <main class="flex flex-col gap-20">
    {/*<ColoredBanner bgColor="bg-cream">
       <MainHeading tag="h1" border={true}>
        Quando l’estetica è cura
      </MainHeading>
    </ColoredBanner> */}

    <TwoColumn>
      <img
        src={me.src}
        alt=""
        class="w-[300px] sm:w-[400px] md:w-[500px] md:shadow-xl lg:shadow-2xl"
      />
      <DescriptionBlock
        title={"Chi sono"}
        textBlock={chiSono_description}
        subtitle={"Sono Debora, estetista da oltre vent’anni. "}
        buttonMessage="Contattami"
      />
    </TwoColumn>

    <!-- Perchè scegliere deb centro estetico -->
    <section class="flex bg-cream/40">
      <div
        class="max-w-[1200px] flex flex-col gap-12 lg:flex-row mx-auto items-center py-30"
      >
        <div
          class="p-2
      flex
      flex-col
      gap-8
      items-center max-w-[800px]"
        >
          <MainHeading tag="h2">Esperienza, Passione e Professionalità</MainHeading>

          <h3
            class="text-lg lg:text-2xl text-gray-700 leading-relaxed text-center font-bold"
          >
           La mia missione è offrire trattamenti personalizzati, efficaci e all’avanguardia.
          </h3>
          
           <p class="text-base lg:text-lg text-gray-700 leading-relaxed text-center">
             Nel mio lavoro unisco esperienza, aggiornamento costante e attenzione alla persona. 
             Credo che ogni trattamento debba essere personalizzato e pensato per valorizzare l’unicità di ciascuno per questo
             accolgo ogni cliente con professionalità, passione e dedizione, offrendo un ambiente in cui sentirsi a proprio agio e vivere un’autentica esperienza di benessere.
             Benvenuti nel mio mondo, dove la cura della persona incontra la passione, la competenza e l’innovazione.
           </p>
           
        </div>
      </div>
    </section>
    <section class="flex justify-center mb-20">
      <TwoColumn>
        <EmblaCarousel images={[centro, centro1]} id="beuty_center_spaces" />
        <DescriptionBlock
          title="Un Ambiente Accogliente"
          textBlock={"Il mio studio non è solo uno spazio dedicato ai trattamenti, ma un luogo che racconta la mia idea di benessere. Professionalità, passione e attenzione alla persona si riflettono in ambienti accoglienti e curati, pensati per offrirti un’esperienza autentica e personalizzata, fatta di relax, comfort e cura di sé."}
          buttonMessage="Vieni A Trovarci"
        />
      </TwoColumn>
    </section>
  </main>
</Layout>
