---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import ContactsSection from "../components/sections/ContactsSection.astro";
import MainHeading from "../components/typography/MainHeading.astro";
import ColoredBanner from "../components/ui/ColoredBanner.astro";
---

<Layout>
  <ColoredBanner bgColor="bg-cream">
    <MainHeading border={true} tag="h1">Contatti</MainHeading>
  </ColoredBanner>
  <main class="flex flex-col gap-20">
    <section class="py-10 lg:py-20 mt-20">
      <div
        class="max-w-[1000px] max-h-[600px] mx-auto px-4 flex flex-col gap-10"
      >
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3091.1509180496405!2d9.119766977308911!3d39.21673802779635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e735882662ca53%3A0xac94cf6404671196!2sdeb%20Studio%20Estetico!5e0!3m2!1sit!2sit!4v1762247612589!5m2!1sit!2sit"
          width="600"
          height="550"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          class="w-full md:shadow-xl"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="flex items-center text-xl gap-3 justify-center p-2">
          <!-- Icona posizione -->
          <Icon
            name={"mdi:map-marker"}
            class={"text-2xl my-auto text-red-500"}
          />
          <h3 class="text-center">
            Via Pietro Delitala, 11, 09127 Cagliari CA
          </h3>
        </div>
      </div>
    </section>
    <ContactsSection background="bg-cream/20" title="Contatti e Orari" />
  </main>
</Layout>
