---
import benefits from "../assets/img/benefits.jpg";
---

<section
  class="max-w-[1400px] mx-auto py-20 lg:py-40 flex flex-col gap-18 px-6"
>
  <div class="max-w-[800px] mx-auto flex flex-col gap-8">
    <h2 class="text-3xl lg:text-5xl font-main text-center font-bold">
      Perchè scegliere i miei trattamenti
    </h2>
    <ul class="px-8 list-disc flex flex-col gap-5">
      <li class="text-base lg:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        suscipit reprehenderit, sed quod numquam totam nemo corrupti unde quo ut
        fugiat eveniet cumque nobis dolorum rem non laudantium blanditiis
        quisquam.
      </li>
      <li class="text-base lg:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        suscipit reprehenderit, sed quod numquam totam nemo corrupti unde quo ut
        fugiat eveniet cumque nobis dolorum rem non laudantium blanditiis
        quisquam.
      </li>
      <li class="text-base lg:text-lg">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        suscipit reprehenderit, sed quod numquam totam nemo corrupti unde quo ut
        fugiat eveniet cumque nobis dolorum rem non laudantium blanditiis
        quisquam.
      </li>
    </ul>
  </div>
  <div class="w-full grid grid-rows-2 gap-2 lg:flex lg:justify-center">
    <div class="relative text-lg lg:text-xl">
      <img src={benefits.src} alt="" class="w-full" />
      <div class="bottom-0 bg-gray-800 text-white w-full p-2">Prima</div>
    </div>
    <div class="relative text-lg lg:text-xl">
      <img src={benefits.src} alt="" class="w-full" />
      <div class="bottom-0 bg-gray-800 text-white w-full p-2">Dopo</div>
    </div>
  </div>
  <div
    class="flex-none px-2 py-4 text-white bg-gray-800 max-w-[300px] mx-auto text-base lg:text-lg"
  >
    CONTATTAMI PER SAPERNE DI PIU'
  </div>
</section>
