---
import ReviewCard from "./ReviewCard.astro";
---

<section class="bg-white w-full">
  <div
    class="max-w-[1600px] mx-auto py-40 flex flex-col gap-18 px-8 items-center"
  >
    <div class="max-w-[800px] flex flex-col gap-8">
      <h2 class="text-3xl lg:text-5xl font-main font-bold text-center">
        Cosa dicono le mie clienti
      </h2>
      <p class="text-center text-base lg:text-lg">
        Ogni trattamento è pensato per regalarti un momento di benessere unico.
        Ecco cosa le mie clienti dicono del loro percorso di bellezza.
      </p>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-18 lg:gap-10"
    >
      <ReviewCard />
      <ReviewCard />
      <ReviewCard />
      <ReviewCard />
    </div>
    <button
      class="p-3 border-2 border-black bg-black text-white cursor-pointer transition-all duration-300"
    >
      PRENOTA SUBITO
    </button>
  </div>
</section>
