---
import benefits from "../../../assets/img/benefits.jpg";
import EmblaCarousel from "../../media/EmblaCarousel.astro";
import MainHeading from "../../typography/MainHeading.astro";
---

<section
  class="max-w-[1400px] mx-auto py-10 lg:py-20 flex flex-col justify-center items-center gap-14 px-6 mt-20"
>
  <div class="max-w-3xl mx-auto flex flex-col gap-14">
    <MainHeading tag="h2" center={true}
      >Perchè scegliere i miei trattamenti</MainHeading
    >
    <EmblaCarousel
      images={[benefits, benefits, benefits]}
      id="benefits_carousel"
    />
    <ul class="px-8 list-disc flex flex-col gap-5">
      <li class="text-base lg:text-lg text-center">
        <strong>Massima Professionalità:</strong> Il team, esperto e attento, garantisce
        precisione e ascolto.
      </li>
      <li class="text-base lg:text-lg text-center">
        <strong>Trattamenti Avanzati:</strong> Tecnologie moderne come Radiofrequenza
        Tripolare e Pressoterapia per risultati visibili e non invasivi.
      </li>
      <li class="text-base lg:text-lg text-center">
        <strong>Percorsi Personalizzati:</strong> Ogni ciclo è studiato su misura
        per massimizzare efficacia e soddisfazione.
      </li>
      <li class="text-base lg:text-lg text-center">
        <strong>Risultati Duraturi:</strong> Cambiamenti estetici significativi, confermati
        dai risultati delle clienti.
      </li>
      <li class="text-base lg:text-lg text-center">
        <strong>Ambiente Accogliente:</strong> Uno spazio pensato per farti sentire
        subito a tuo agio.
      </li>
    </ul>
  </div>

  <a
    class="flex-none px-2 py-4 text-white bg-gray-800 max-w-[300px] mx-auto text-base lg:text-lg cursor-pointer"
  >
    CONTATTAMI PER SAPERNE DI PIU'
  </a>
</section>
