---
import ReviewCard from "../../ui/ReviewCard.astro";
import MainHeading from "../../typography/MainHeading.astro";
import reviews from "../../../data/home/reviewsData.js";
---

<section class="bg-white w-full">
  <div
    class="max-w-[1400px] mx-auto py-40 flex flex-col gap-18 px-8 items-center"
  >
    <div class="max-w-[800px] flex flex-col gap-8">
      <MainHeading tag="h2">Le Vostre Esperienze</MainHeading>
      <p class="text-center text-base lg:text-lg">
        La soddisfazione e la fiducia delle nostre clienti sono la nostra
        migliore referenza. Leggi le esperienze di chi ha trovato in deb Studio
        Estetico il luogo ideale per la cura del corpo, la professionalità e
        l'efficacia dei trattamenti.
      </p>
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-18 lg:gap-10"
    >
      {
        reviews.map((item) => (
          <ReviewCard
            review={item.review}
            user={item.user}
            rating={item.rating}
          />
        ))
      }
    </div>
    <button
      class="p-3 border-2 border-black bg-black text-white cursor-pointer transition-all duration-300"
    >
      PRENOTA SUBITO
    </button>
  </div>
</section>
