---
import ReviewCard from "../../ui/ReviewCard.astro";
import MainHeading from "../../typography/MainHeading.astro";
const reviews = [
  {
    review:
      "Ragazza seria e molto professionale. I trattamenti richiesti sono stati eseguiti in modo preciso e meticoloso, il risultato è stato ECCELLENTE! Il tutto accompagnato da gentilezza e solarità.",
    user: "Francesca L.",
    rating: 5,
  },
  {
    review:
      "Esperienza super positiva. Il team è professionale e molto simpatico, mi ha consigliato il trattamento più adatto alle mie esigenze. Un ambiente accogliente dove ci si sente subito a proprio agio.",
    user: "Giorgia M.",
    rating: 5,
  },
  {
    review:
      "Centro estetico di altissima qualità. Ho apprezzato la disponibilità e la puntualità, ma soprattutto la meticolosità con cui viene eseguito ogni servizio. Risultati visibili dalla prima seduta. Super consigliato!",
    user: "Marta G.",
    rating: 5,
  },
  {
    review:
      "Sono stata in questo centro mentre ero di passaggio ma se dovesse ricapitare non esiterei a riprenotare. La ragazza che mi ha assistita è brava, professionale e di una gentilezza squisita, come tutto il personale.",
    user: "Claudia D.",
    rating: 5,
  },
];
---

<section class="bg-white w-full">
  <div
    class="max-w-[1400px] mx-auto py-40 flex flex-col gap-18 px-8 items-center"
  >
    <div class="max-w-[800px] flex flex-col gap-8">
      <MainHeading tag="h2">Le Vostre Esperienze</MainHeading>
      <p class="text-center text-base lg:text-lg">
        La soddisfazione e la fiducia delle nostre clienti sono la nostra
        migliore referenza. Leggi le esperienze di chi ha trovato in deb Studio
        Estetico il luogo ideale per la cura del corpo, la professionalità e
        l'efficacia dei trattamenti.
      </p>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-18 lg:gap-10"
    >
      {
        reviews.map((item) => (
          <ReviewCard
            review={item.review}
            user={item.user}
            rating={item.rating}
          />
        ))
      }
    </div>
    <button
      class="p-3 border-2 border-black bg-black text-white cursor-pointer transition-all duration-300"
    >
      PRENOTA SUBITO
    </button>
  </div>
</section>
