---
import MainHeading from "../../typography/MainHeading.astro";
import serviceData from "../../../data/home/serviceData.js";
import ServiceBoxLink from "../../ui/ServiceBoxLink.astro";
---

<section
  class="w-full bg-cream/30 mx-auto py-30 flex flex-col gap-18 px-8 border-gray-200 items-center"
>
  <div class="max-w-[1000px] flex flex-col gap-8">
    <MainHeading tag="h2">I Servizi</MainHeading>
    <p class="text-center text-base lg:text-lg">
      In <strong>deb Studio Estetico</strong>, la nostra professionalità si
      unisce alle migliori tecnologie non invasive per offrirti risultati che
      puoi vedere e sentire. Dalla riduzione della cellulite all'ossigenazione
      dei tessuti, i nostri percorsi sono studiati per rimodellare il tuo corpo
      con efficacia, precisione e la massima cura. Ogni trattamento viene
      personalizzato in base alle tue esigenze specifiche.
    </p>
  </div>
  <div
    class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5 max-w-[1400px]"
  >
    {
      serviceData.map((service) => (
        <ServiceBoxLink
          title={service.title}
          linkUrl={service.linkUrl}
          bg={service.bg}
        />
      ))
    }
  </div>
</section>
