@import url("https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");
@import "tailwindcss";

@theme {
  --color-cream: #fbf1ea;
  --color-accent: #684f1d;
  --font-main: "Literate", serif;
}

.toggle_menu {
  opacity: 1;
  left: 0;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.embla__dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #bbb;
  cursor: pointer;
  transition: background 0.2s;
}

.embla__dot.is-active {
  background: #333; /* Il punto diventa pieno quando attivo */
}
